<% include ../par/head %>
<% include ../par/nav %>
<body>


<section lass="section">
<div class="row">

    <div class="col" ></div>
    <div class="col" >
<h1><%= message %></h1>
<%= error.status %><br>
<%= error.stack %>
</div>

    <div class="col" ></div>
</div><!-- row-->
</section>

</body>



